h1{
    color:rgb(247, 41, 4);text-align: center;
    font-size: 60px; 
    
}
body{
    background-color: rgb(255, 255, 255);
}
.intro{
    background-color:red;  
    color:white;  
    padding:4px;  
    text-align:center; 
}
#mark{
    background-color:crimson;  
    color:white;  
    padding:4px;  
}
table, th, td {  
    border: 2px solid rgb(0, 0, 0);  
    border-collapse: collapse; 
    padding: 18px;
    text-align: center;
}
tr{
    background-color: rgb(76, 245, 245);
    font-size: 110%;
}
th{
    background-color: rgb(243, 28, 28);
    font-size: 150%;
}
#data{
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    font-size: 120%;
}
